<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HRProgramWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<connectionStrings>
		<!-- <add name="ApplicationDbContext" connectionString="Server=(local)\SQLEXPRESS;Database=HR;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <HRProgramWPF.Properties.Settings>
      <setting name="ServerAddres" serializeAs="String">
        <value>local</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>SQLEXPRESS</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>HR</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>diarydb</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>12345</value>
      </setting>
    </HRProgramWPF.Properties.Settings>
  </userSettings>
</configuration>